/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1f1d38;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: start;
  /* align-items: center; */
}

input {
  background-color: #37335f;
  color: #ffffff;
  border-radius: 10px;
}

textarea {
  background-color: #37335f;
  color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.dark-box {
  background-color: #282546;
}

.bg-purpdark {
  background-color: #37335f;
  color: #ffffff;
  margin-top: 1rem;

}

.text-box {
  width: 100%;
  min-height: 40dvh;
  max-height: 90dvh;
}

.create-bar {
  display: block;
}